In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('reddit-cleanjokes.csv')
df.head()

   ID                                               Joke
0   1  What did the bartender say to the jumper cable...
1   2  Don't you hate jokes about German sausage? The...
2   3  Two artists had an art contest... It ended in ...
3   4  Why did the chicken cross the playground? To g...
4   5   What gun do you use to hunt a moose? A moosecut!

### Dropping duplicates (not only for texts, just in case)

Sometimes datasets can contain duplicated rows. Just in case you want to check it - use basic pandas operation.

In [3]:
df.drop_duplicates()

        ID                                               Joke
0        1  What did the bartender say to the jumper cable...
1        2  Don't you hate jokes about German sausage? The...
2        3  Two artists had an art contest... It ended in ...
3        4  Why did the chicken cross the playground? To g...
4        5   What gun do you use to hunt a moose? A moosecut!
...    ...                                                ...
1617  1618  What do you call a camel with 3 humps? Humphre...
1618  1619  Two fish in a tank. [x-post from r/Jokes] One ...
1619  1620          "Stay strong!" I said to my wi-fi signal.
1620  1621  Why was the tomato blushing? Because it saw th...
1621  1622    What is heavy forward but not backward? **ton**

[1622 rows x 2 columns]

### Lowercase

Before we start processing, we need to lowercase strings. If we do not do it, our model will think that "Book" and "book" are different words, and it will mess with our model and add more unnecessary dimensions to it.

In [4]:
df['Joke'] = df['Joke'].str.lower()
df.head()

   ID                                               Joke
0   1  what did the bartender say to the jumper cable...
1   2  don't you hate jokes about german sausage? the...
2   3  two artists had an art contest... it ended in ...
3   4  why did the chicken cross the playground? to g...
4   5   what gun do you use to hunt a moose? a moosecut!

### Dropping stop words

When we need to focus on some important information, but not on the sense of whole sentence, we filter the most often met words. The stop words are prepositions, auxiliary verbs and other. You can print them and look through the list.

In [5]:
from nltk.corpus import stopwords

In [6]:
stop_words = set(stopwords.words('english'))

In [7]:
def drop_stopwords(s):
    return ' '.join([i for i in s.split() if i not in stop_words])

In [8]:
df['Joke'] = df['Joke'].map(drop_stopwords)
df.head()

   ID                                               Joke
0   1  bartender say jumper cables? better try start ...
1   2          hate jokes german sausage? they're wurst!
2   3              two artists art contest... ended draw
3   4               chicken cross playground? get slide.
4   5                      gun use hunt moose? moosecut!

### Lemmatization

Now, if we want to not only to remove stop words, but also to get the root forms of the words - we use lemmatizers. Lemmatizer uses a word corpus *(here WordNet)* and returns root form of a word if it knows it, otherwise - returns the same word. There are different kinds of it, here is one to play with. For better task resolution sometimes it is better to define also a part of the speech. This algorithm is slower than stemming.

In [9]:
from nltk.stem import WordNetLemmatizer

In [10]:
lemmatizer = WordNetLemmatizer()

In [11]:
def lemmatize_str(s):
    return ' '.join([lemmatizer.lemmatize(i) for i in s.split()])

In [12]:
df['Joke'] = df['Joke'].map(lemmatize_str)
df.head()

   ID                                               Joke
0   1  bartender say jumper cables? better try start ...
1   2           hate joke german sausage? they're wurst!
2   3               two artist art contest... ended draw
3   4               chicken cross playground? get slide.
4   5                      gun use hunt moose? moosecut!

### Stemming

Stemming like lemmatizer changes words, only it has another algorithm behind and it mostly trims endings. The words after this operation can be *not real words* meaning that they can be without a letter in the end or something like that. Due to this difference it is faster than lemmatization.

In [13]:
from nltk.stem.snowball import SnowballStemmer

In [14]:
stemmer = SnowballStemmer("english")

In [15]:
def stem_str(s):
    return ' '.join([stemmer.stem(i) for i in s.split()])

In [16]:
df['Joke'] = df['Joke'].map(stem_str)
df.head()

   ID                                               Joke
0   1  bartend say jumper cables? better tri start an...
1   2            hate joke german sausage? they'r wurst!
2   3                 two artist art contest... end draw
3   4               chicken cross playground? get slide.
4   5                      gun use hunt moose? moosecut!

### Bad unicode

There are also cases when the dataset contains HTML entities or encoding mixups and you need to fix them - the library ftfy (fixes text for you) comes to help:

In [17]:
import ftfy

In [19]:
text = 'DonÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢t do it!'
fixed_text = ftfy.fix_text(text)
fixed_text

"Don't do it!"

### Conclusion

These were only some examples of how you can preprocess and clean your data. I have shown them separately, but for better performance and cleaner code you should unite all needed operations into one method and map dataframe rows to it instead. For example stop words with lemmatization can be done in one list comprehension easily. 

Remember, that not always you need to filter stop words, lemmatize or stem your texts. It depends on the task. 
Good luck!